.sidebar {
    padding: 10px;
    background-color: #FEFBF2;
    border-width: 30px;
  }
  .sidebar-opened {
    min-width: 15vw;
    display: block;
    background-color: #FEFBF2;
  }
  .sidebar-closed {
    display: none;
    background-color: #FEFBF2;

  }
    .sidebar-options {
      list-style-type: none;
      padding: 0px;
      margin-top: 100px;
      background-color: #FEFBF2;
    }
  .sidebar-footer {
     align-items: flex-end;
     justify-content: flex-end; 
     background-color: #FEFBF2;
  }

  .nav-body {
    margin-top: 50px;
  }