
  .container-home {
    background-color: #FEFBF2;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;

  }

  .notification-preview-container {
    width: 100%;
    border-width: 20px;
    border-color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 20px; 
  }

  .title {
    color: #000;
    font-weight: bold;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
  }

  .text {
    color: #000;
    font-weight: 300;
    font-size: 10px;
    max-width: 100%;
    word-break: break-all;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
  }

  .select-label {
    color: #000
  }


  .text-expanded {
    color: #000;
    height: 100;
    font-weight: 300;
    font-size: 10px;

    word-break: break-all;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
  }

  .img-placeholder {
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }

  .img-placeholder-expanded {
    align-self: center;
    width: 100%;
  }

  .n-img-ct {
    width: 10%;
    display: center;
    justify-content: center;
    align-items: flex-end;
  }

  .n-text-ct {
    width: 90%;
    padding-left: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .img-input {
    font-size: small;
  }

  .common-input {
    margin-bottom: 20px;
  }
  
  .App-link {
    color: #61dafb;
  }

  .row {
    display: flex;
    flex-direction: row;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }

  .centering-w-padding {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (max-width:900px) {
    .column {
      display: flex;
      flex-direction: column;
      width: 900px;
      padding-left: 150px;
      padding-right: 150px;
    }
  }
  
  @media (max-width:700px) {
    .column {
      display: flex;
      flex-direction: column;
      width: 700px;
      padding-left: 150px;
      padding-right: 150px;
    }
  }
  
  @media (max-width:500px) {
    .column {
      display: flex;
      flex-direction: column;
      width: 500px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  