body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.side-bar-closed {
  background-color: #FEFBF2;
  display: flex;
  align-items: flex-start;
}

.unauthenticated-container {
  background-color: #FEFBF2;
  display: flex;
  flex: 1;
  height: 100%;
}
.container-logged {
    display: flex;
    background-color: #FEFBF2;
}


#root {
  background-color: #FEFBF2;
  height: 100%;
}