.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-center {
    text-align: center;
}

.custom-input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.input-width {
    max-width: 30vw;
}

.img-logo {
    align-self: center;
    width: 160px;
    height: 23px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.label {
    font-size: large;
}

@media only screen and (min-width: 1600px) {
    .input-width {
        max-width: 60vw;
    }
}

@media only screen and (max-width: 1000px) {
    .input-width {
        max-width: 120vw;
    }
}

@media only screen and (max-width: 400px) {
    .input-width {
        max-width: 160vw;
    }
}